/* Styling for document box-sizing */
* {
    box-sizing: border-box;
};

/* Styling for primary button colors */
.btn-primary {
    background-color: #99A2F0;
};

/* Styling to set card body background color */
.card-body {
    background-color: seagreen;
};

/* Styling for card headers to make background color same as bootstrap nav bar color and text centered and color-white */
.card-header {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    color: white;
    text-align: center;
};

